body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1F2833;
    color: #1F2833;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.start-page {
    margin-bottom: 20px;
}

.center {
    display: flex;
    justify-content: center;
    /*align-items: flex-start;*/
    max-width: 1200px;
    max-height: 1000px;
    margin: 0 auto;
    background-color: #1F2833; /* Dark background for center content */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    /*overflow: hidden; !* Prevents image overflow *!*/
    overflow-y: auto;
}

.image {
    max-width: 50%; /* Image takes up half of the center content */
    flex: 1; /* Takes remaining space */
    overflow-x: auto;
}

.image img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 8px; /* Rounded corners */
}

.about-us {
    max-width: 50%; /* Text content takes up half of the center content */
    padding: 20px;
    box-sizing: border-box;
    background-color: #1F2833;
}

.about-us h1 {
    margin-top: 0;
    color: #1F2833;
}

.last-info {
    background-color: #1F2833;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    text-align: center;
    margin-top: 0;
    max-width: 500px;
}

.section {
    background-color: #45A29E;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow */
    max-width: 800px;
    height: 100%;
    max-height: 350px;
    text-align: left; /* Align text content to left */
    overflow-y: auto;
}

.section h2 {
    color: #1F2833; /* Dark blue text */
    margin-top: 0;
}

.section p {
    color: #333333; /* Dark gray text */
}

.footer-links {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 16px;
}

.footer-links a:hover {
    text-decoration: underline;
}
