
html {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
body {
    background: #1F2833;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: max-content;
}


.mainbody {
    width: 560px;
    background: #1F2833;
    margin: auto auto 60px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    box-shadow: 0 4px 8px black;
}

.correction_div {
    background: #2C2F33;
    color: #66FCF1;
    padding: 10px;
    border-radius: 8px;
    width: 88%;
    text-align: center;
    margin: 20px auto;
    border: 1px solid white;
}

.question_num {
    text-align: center;
    margin: 40px auto 28px auto;
    font-size: 24px;
    color: #66FCF1; /* white */
    text-shadow: -1px 0 #45A29E, 0 1px #45A29E, 1px 0 #45A29E, 0 -1px #45A29E;
}

.buttons {
    width: 600px;
    height: max-content;
    margin: 0 auto 32px auto;
    padding: 0;
    display: block;
    position: relative;
}

button[value="prev_button"] {
    position: absolute;
    left: 0;
}

button[value="lock_in"], button[value="remove_set"] {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
}

button[value="next"] {
    position: absolute;
    right: 0;
}

button[value="submit_all"] {
    width: max-content;
    padding: 0 8px;
    justify-self: center;
}

.single_button {
    width: 148px;
    height: 52px;
    background: linear-gradient(45deg, #66FCF1, #45A29E);
    color: #0B0C10;
    font-size: 18px;
    border-radius: 6px;
    /*border: 1px solid #1F2833; !* steelblue *!*/
    border: 1px solid black;
    transition: background 1s ease-out, color 0.3s;
    text-align: center;
}

.single_button:hover {
    background: linear-gradient(45deg, #45A29E, #66FCF1);
    color: rgba(11, 12, 16, 0.8); /* lightcyan */
    cursor: pointer;
}

.single_button:disabled {
    color: #C5C6C7;
    background: none;
    background-color: #2C2F33;
    pointer-events: none;
}

.point_span {
    color: white;
    font-style: italic;
    font-size: inherit;
}

.practice_desc {
    width: 400px;
    align-self: center;
    text-align: center;
    margin: 0 auto;
    color: #C5C6C7; /* white */
}


h1, h2, h3 {
    color: white;
}

p {
    color: white;
}

.tooltip-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 20px;
    color: #C5C6C7;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #C5C6C7;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%; /* Position the tooltip above the text */
    left: 50%;
    margin-left: -60px; /* Center the tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip-container:active .tooltip-text {
    visibility: visible;
    opacity: 1;
}
#display {
    color: #66FCF1;
    font-size: 18px;
    margin-bottom: 20px;
}